body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #6495ED;
    margin: 0 auto;
}

#container h1
{
    font-size: 21px;
}

#box
{
    width: 60%;
    padding: 1em;
    text-align: center;
    border: 2px solid blueviolet;
    margin: 0 auto; 
}